.skeletonBlog {
    padding: 0 0 20px 0;
    margin-bottom: 2em;
    animation: skeleton-loading 1s linear infinite alternate;
    width: 284px;
    background-color: hsl(209, 23%, 22%);
    border-radius: 5px;
}

.skeletonImage {
    height: 160px;
    width: 100%;
    border-radius: 5px;
    background: hsl(209, 23%, 22%);
}

.skeletonTextbox {
    width: 100%;
    padding: 20px;
}

.skeletonText {
    height: 10px;
    width: 240px;
    border-radius: 6px;
    background: hsl(209, 23%, 22%);
    margin: 10px 0 10px 0;
}

.skeletonText:last-child {
    margin: 0 0 0 0;
    width: 220px;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 95%);
    }

    100% {
        background-color: hsl(209, 23%, 22%);
    }
}